body {
    background: #F5F5DC;
}

p {
    color: #332D23;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

img {
    width: 800px;
    border-radius: 15px;
    border: 5px solid #C9A469;
    transition: 0.3s;
}

h1 {
    margin: 50px;
}

h2 {
    color: #96866C;
    font-size: 60px;
    text-align: center;
    margin: 40px;
}

h3 {
    color: #635F58;
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

a {
    background: #FCBB50;
    color: #635F58;
    font-size: 50px;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px dotted transparent;
    transition: 0.3s;
}

ul {
    margin: 0;
}

li {
    color: #635F58;
    font-size: 30px;
}

.pros {
    color: green;
}

.contras {
    color: brown;
}

.centro-contenedor {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#titulo-principal {
    color: #C9A469;
    font-size: 80px;
    text-align: center;
}

#icono-pagina-principal {
    width: 100px;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
    border: 5px dashed #332D23;
    background: #C9A469;
}

#galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
    border: 5px double #332D23;
    background: #C9A469;
}

#galeria img {
    width: 300px;
    border-radius: 15px;
    border: 5px solid #FCBB50;
    transition: 0.3s;
}

#pros-contras {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#galeria img:hover {
    transform: rotate(3deg);
}

#form-contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    background: #FCBB50;
    padding: 20px;
    border-radius: 6px;
    border: 2px solid #C9A469;
}

#form-contacto label {
    font-size: 30px;
    font-weight: bold;
    color: #332D23;
}

#form-contacto input,
#form-contacto textarea {
    background: #F5F5DC;
    border: 2px solid #C9A469;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 25px;
    color: #C9A469;
    transition: all 0.3s, height 0s;
    outline: 2px dashed transparent;
}

#form-contacto button {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 40px;
    border: 3px solid #C9A469;
    background: #C9A469;
    color: #F5F5DC;
    transition: 0.3s;
}

#form-contacto textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}

#form-contacto button:hover {
    background: #F5F5DC;
    color: #C9A469;
    transform: rotate(1deg);
    cursor: pointer;
}

#form-contacto button:active {
    background: #FCBB50;
    color: #F5F5DC;
    border-color: #F5F5DC;
}

#form-contacto input:hover,
#form-contacto textarea:hover {
    outline-color: #F5F5DC;
}

#form-contacto input:focus,
#form-contacto textarea:focus {
    border-color: #F5F5DC;
    outline-color: #F5F5DC;
    background: #C9A469;
    color: #F5F5DC;
}

a:hover {
    background: #A39167;
    color: white;
    border-color: white;
    transform: scale(1.05) rotate(-3deg);
}

a:active {
    background: white;
    color: #A39167;
    border-color: #A39167;
}

img:hover {
    transform: scale(1.05);
}